{
  "displayTZ": "America/Detroit",
  "calendars": [""],
  "numCalDaysToShow": 13,
  "owm_api_key": "",
  "lat": 22.3193,
  "lon": -83.1370819,
  "imageWidth": 1200,
  "imageHeight": 825,
  "rotateAngle": 0,
  "openai_api_key": "ENTER YOUR OWN API KEY HERE",
  "path_to_server_image": "./cal.png"
}

